body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #0F0E0E;
}

.header {
	padding: 10px;
	text-align: center;
	background-color: #8B9A46;
	margin-bottom: 25px;
	display: inline-block;
	width: 90%;
	margin-left: 5%;
}

.results {
	padding: 10px;
	width: 80%;
	margin-left: 10%;
	background-color: #EEEEEE;
}

h1 {
	font-size: 250%;
	font-weight: 300;
	text-transform: uppercase;
}

h3, h4 {
	font-size: 190%;
	font-weight: 300;
}

p {
	font-size: 160%;
	font-weight: 400;
}

.searchbox {
	margin-top: 45px;
}

.btn {
	padding: 10px;
	font-size: 120%;
	border-radius: 5px;
	background-color: #EEEEEE;
	color: #0F0E0E;
}

.date {
	padding: 15px;
	font-size: 100%;
	background-color: #EEEEEE;
	color: #0F0E0E;
}

.warning {
	text-align: center;
	color: #EEEEEE;
}

