<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Age Calculator</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css">

<!-- <script src=""></script> -->
<body>
	{% block content %}
	<div class="header">
		<h1>Age Calculator</h1>
		<h3>Wihan Uys</h3>
		<div class = "searchbox">
			<form method="post">
				<h4>Date range:</h4>
				<p>Start Date : <input type="date" name="start_date" required class="date"></p>
                <p>End Date   : <input type="date" name="end_date" required class="date"></p>
				<p><input type="submit" value="Calculate" class="btn"></p>
			</form>	
		</div>
	</div>
	{% if not correct_dates %}
	<p class="warning">Note: End date cannot be before start date</p>
	{% endif %}
	{% if has_results %}
		<div class="results">
			<h4>Results for: {{start_date}} to {{end_date}}</h4>
			{% if results[5][0][0] > 0 %}
				<p>{{results[5][0][0]}} Years, {{results[5][0][1]}} Months and {{results[5][0][2]}} Days</p>
			{% endif %}
			{% if results[5][1][0] > 0 %}
				<p>{{results[5][1][0]}} Months and {{results[5][1][1]}} Days</p>
			{% endif %}
			{% if results[4][0] > 0 %}
				<p>{{results[4][0]}} Weeks {% if results[4][1] > 0 %} and {{results[4][1]}} Days{% endif %}</p>
			{% endif %}
			<p>{{results[3]}} Days</p>
			<p>{{results[2]}} Hours</p>
			<p>{{results[1]}} Minutes</p>
			<p>{{results[0]}} Seconds</p>
    	</div>
	{% endif %}

	{% endblock %}
</body>
</html>
